
@{
    ViewBag.Title = "Car";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="hero hero-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto text-center">
                <div class="intro-wrap">
                    <h1 class="mb-0">Our Gallery</h1>
                    <p class="text-white">This is our wonderfull gallery .Step into Our Travel Company's Gallery: A Visual Odyssey of Unparalleled Experiences. Explore the world through our curated collection of unforgettable moments, encapsulating the essence of travel with our exceptional services.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    ViewBag.Title = "BooKingForm";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F233174621379459" title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F233174621379459" title="oEmbed Form">
    <meta property="og:title" content="Online Booking Form">
    <meta property="og:url" content="https://form.jotform.com/233174621379459">
    <meta property="og:description" content="Please click the link to complete this form.">
    <meta name="slack-app-id" content="AHNMASS8M">
    <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <link rel="apple-touch-icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <script>var favicon = document.querySelector('link[rel="shortcut icon"]');
            window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
            if (favicon && window.isDarkMode) {
                favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
            }</script>
    <link rel="canonical" href="https://form.jotform.com/233174621379459" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Online Booking Form</title>
    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/form-common.css?v=77cd9fc
" />
    <style type="text/css">
        print {
            *

        {
            -webkit-print-color-adjust: exact !important;
            color-adjust: exact !important;
        }

        .form-section {
            display: inline !important
        }

        .form-pagebreak {
            display: none !important
        }

        .form-section-closed {
            height: auto !important
        }

        .page-section {
            position: initial !important
        }
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.47581&themeRevisionID=5f30e2a790832f3e96009402" />
    <link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_styles.css?3.3.47581" />
    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.47581" />
    <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/stylebuilder/donationBox.css?v=3.3.47581">
    <script src="https://cdn03.jotfor.ms/static/prototype.forms.js?3.3.47581" type="text/javascript"></script>
    <script src="https://cdn01.jotfor.ms/static/jotform.forms.js?3.3.47581" type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms//js/punycode-1.4.1.min.js"></script>
    <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.47581" type="text/javascript"></script>
    <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.47581" type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.47581" type="text/javascript"></script>
    <script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.47581" type="text/javascript"></script>
    <script src="https://cdn01.jotfor.ms/s/umd/b091d08d955/for-form-branding-footer.js?v=3.3.47581" type="text/javascript" defer></script>
    <script type="text/javascript">JotForm.newDefaultTheme = true;
            JotForm.extendsNewTheme = false;
            JotForm.singleProduct = false;
            JotForm.newPaymentUIForNewCreatedForms = false;
            JotForm.texts = { "confirmEmail": "E-mail does not match", "pleaseWait": "Please wait...", "validateEmail": "You need to validate this e-mail", "confirmClearForm": "Are you sure you want to clear the form", "lessThan": "Your score should be less than or equal to", "incompleteFields": "There are incomplete required fields. Please complete them.", "required": "This field is required.", "requireOne": "At least one field required.", "requireEveryRow": "Every row is required.", "requireEveryCell": "Every cell is required.", "email": "Enter a valid e-mail address", "alphabetic": "This field can only contain letters", "numeric": "This field can only contain numeric values", "alphanumeric": "This field can only contain letters and numbers.", "cyrillic": "This field can only contain cyrillic characters", "url": "This field can only contain a valid URL", "currency": "This field can only contain currency values.", "fillMask": "Field value must fill mask.", "uploadExtensions": "You can only upload following files:", "noUploadExtensions": "File has no extension file type (e.g. .txt, .png, .jpeg)", "uploadFilesize": "File size cannot be bigger than:", "uploadFilesizemin": "File size cannot be smaller than:", "gradingScoreError": "Score total should only be less than or equal to", "inputCarretErrorA": "Input should not be less than the minimum value:", "inputCarretErrorB": "Input should not be greater than the maximum value:", "maxDigitsError": "The maximum digits allowed is", "minCharactersError": "The number of characters should not be less than the minimum value:", "maxCharactersError": "The number of characters should not be more than the maximum value:", "freeEmailError": "Free email accounts are not allowed", "minSelectionsError": "The minimum required number of selections is ", "maxSelectionsError": "The maximum number of selections allowed is ", "pastDatesDisallowed": "Date must not be in the past.", "dateLimited": "This date is unavailable.", "dateInvalid": "This date is not valid. The date format is {format}", "dateInvalidSeparate": "This date is not valid. Enter a valid {element}.", "ageVerificationError": "You must be older than {minAge} years old to submit this form.", "multipleFileUploads_typeError": "{file} has invalid extension. Only {extensions} are allowed.", "multipleFileUploads_sizeError": "{file} is too large, maximum file size is {sizeLimit}.", "multipleFileUploads_minSizeError": "{file} is too small, minimum file size is {minSizeLimit}.", "multipleFileUploads_emptyError": "{file} is empty, please select files again without it.", "multipleFileUploads_uploadFailed": "File upload failed, please remove it and upload the file again.", "multipleFileUploads_onLeave": "The files are being uploaded, if you leave now the upload will be cancelled.", "multipleFileUploads_fileLimitError": "Only {fileLimit} file uploads allowed.", "dragAndDropFilesHere_infoMessage": "Drag and drop files here", "chooseAFile_infoMessage": "Choose a file", "maxFileSize_infoMessage": "Max. file size", "generalError": "There are errors on the form. Please fix them before continuing.", "generalPageError": "There are errors on this page. Please fix them before continuing.", "wordLimitError": "Too many words. The limit is", "wordMinLimitError": "Too few words.  The minimum is", "characterLimitError": "Too many Characters.  The limit is", "characterMinLimitError": "Too few characters. The minimum is", "ccInvalidNumber": "Credit Card Number is invalid.", "ccInvalidCVC": "CVC number is invalid.", "ccInvalidExpireDate": "Expire date is invalid.", "ccInvalidExpireMonth": "Expiration month is invalid.", "ccInvalidExpireYear": "Expiration year is invalid.", "ccMissingDetails": "Please fill up the credit card details.", "ccMissingProduct": "Please select at least one product.", "ccMissingDonation": "Please enter numeric values for donation amount.", "disallowDecimals": "Please enter a whole number.", "restrictedDomain": "This domain is not allowed", "ccDonationMinLimitError": "Minimum amount is {minAmount} {currency}", "requiredLegend": "All fields marked with * are required and must be filled.", "geoPermissionTitle": "Permission Denied", "geoPermissionDesc": "Check your browser's privacy settings.", "geoNotAvailableTitle": "Position Unavailable", "geoNotAvailableDesc": "Location provider not available. Please enter the address manually.", "geoTimeoutTitle": "Timeout", "geoTimeoutDesc": "Please check your internet connection and try again.", "appointmentSelected": "You’ve selected {time} on {date}", "noSlotsAvailable": "No slots available", "slotUnavailable": "{time} on {date} has been selected is unavailable. Please select another slot.", "multipleError": "There are {count} errors on this page. Please correct them before moving on.", "oneError": "There is {count} error on this page. Please correct it before moving on.", "doneMessage": "Well done! All errors are fixed.", "doneButton": "Done", "reviewSubmitText": "Review and Submit", "nextButtonText": "Next", "prevButtonText": "Previous", "seeErrorsButton": "See Errors", "notEnoughStock": "Not enough stock for the current selection", "notEnoughStock_remainedItems": "Not enough stock for the current selection ({count} items left)", "soldOut": "Sold Out", "justSoldOut": "Just Sold Out", "selectionSoldOut": "Selection Sold Out", "subProductItemsLeft": "({count} items left)", "startButtonText": "START", "submitButtonText": "Submit", "submissionLimit": "Sorry! Only one entry is allowed. Multiple submissions are disabled for this form.", "reviewBackText": "Back to Form", "seeAllText": "See All", "progressMiddleText": "of", "fieldError": "field has an error.", "error": "Error" };
            JotForm.newPaymentUI = true;
            JotForm.submitError = "jumpToFirstError";
            window.addEventListener('DOMContentLoaded', function () { window.brandingFooter.init({ "formID": 233174621379459, "campaign": "powered_by_jotform_le", "isCardForm": false, "isLegacyForm": true }) });
            JotForm.init(function () {
                /INIT-START/
                JotForm.setPhoneMaskingValidator('input_31_full', '\u0028\u0023\u0023\u0023\u0029 \u0023\u0023\u0023\u002d\u0023\u0023\u0023\u0023');

                JotForm.calendarMonths = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                if (!JotForm.calenderViewMonths) JotForm.calenderViewMonths = {}; JotForm.calenderViewMonths[15] = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                if (!JotForm.calenderViewDays) JotForm.calenderViewDays = {}; JotForm.calenderViewDays[15] = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
                JotForm.calendarDays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
                JotForm.calendarOther = { "today": "Today" };
                var languageOptions = document.querySelectorAll('#langList li');
                for (var langIndex = 0; langIndex < languageOptions.length; langIndex++) {
                    languageOptions[langIndex].on('click', function (e) { setTimeout(function () { JotForm.setCalendar("15", false, { "days": { "monday": true, "tuesday": true, "wednesday": true, "thursday": true, "friday": true, "saturday": true, "sunday": true }, "future": true, "past": true, "custom": false, "ranges": false, "start": "", "end": "", "countSelectedDaysOnly": false }); }, 0); });
                }
                JotForm.onTranslationsFetch(function () { JotForm.setCalendar("15", false, { "days": { "monday": true, "tuesday": true, "wednesday": true, "thursday": true, "friday": true, "saturday": true, "sunday": true }, "future": true, "past": true, "custom": false, "ranges": false, "start": "", "end": "", "countSelectedDaysOnly": false }); });
                JotForm.formatDate({ date: (new Date()), dateField: $("id_" + 15) });
                JotForm.displayLocalTime("input_15_hourSelect", "input_15_minuteSelect", "input_15_ampm", "input_15_timeInput", false);

                JotForm.calendarMonths = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                if (!JotForm.calenderViewMonths) JotForm.calenderViewMonths = {}; JotForm.calenderViewMonths[28] = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                if (!JotForm.calenderViewDays) JotForm.calenderViewDays = {}; JotForm.calenderViewDays[28] = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
                JotForm.calendarDays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
                JotForm.calendarOther = { "today": "Today" };
                var languageOptions = document.querySelectorAll('#langList li');
                for (var langIndex = 0; langIndex < languageOptions.length; langIndex++) {
                    languageOptions[langIndex].on('click', function (e) { setTimeout(function () { JotForm.setCalendar("28", false, { "days": { "monday": true, "tuesday": true, "wednesday": true, "thursday": true, "friday": true, "saturday": true, "sunday": true }, "future": true, "past": true, "custom": false, "ranges": false, "start": "", "end": "", "countSelectedDaysOnly": false }); }, 0); });
                }
                JotForm.onTranslationsFetch(function () { JotForm.setCalendar("28", false, { "days": { "monday": true, "tuesday": true, "wednesday": true, "thursday": true, "friday": true, "saturday": true, "sunday": true }, "future": true, "past": true, "custom": false, "ranges": false, "start": "", "end": "", "countSelectedDaysOnly": false }); });
                JotForm.formatDate({ date: (new Date()), dateField: $("id_" + 28) });
                JotForm.displayLocalTime("input_28_hourSelect", "input_28_minuteSelect", "input_28_ampm", "input_28_timeInput", false);
                if (window.JotForm && JotForm.accessible) $('input_11').setAttribute('tabindex', 0);
                if (window.JotForm && JotForm.accessible) $('input_12').setAttribute('tabindex', 0);
                if (typeof $('input_32').spinner !== 'undefined') { $('input_32').spinner({ imgPath: 'https://cdn.jotfor.ms/images/', width: '310', maxValue: '', minValue: '', allowNegative: false, addAmount: 1, value: '0' }); }
                $('input_32').up(2).setAttribute('tabindex', '');
                if (window.JotForm && JotForm.accessible) $('input_24').setAttribute('tabindex', 0);
                /INIT-END/
            });

            setTimeout(function () {
                JotForm.paymentExtrasOnTheFly([null, { "name": "submit", "qid": "1", "text": "Submit", "type": "control_button" }, null, null, null, null, null, null, null, null, null, { "name": "pickupAddress11", "qid": "11", "text": "Pickup Address", "type": "control_textarea" }, { "name": "destinationAddress12", "qid": "12", "text": "Destination Address", "type": "control_textarea" }, null, null, { "name": "departureDatetime15", "qid": "15", "text": "Departure Date\u002FTime", "type": "control_datetime" }, null, null, null, { "name": "journeyType19", "qid": "19", "text": "Journey Type", "type": "control_dropdown" }, null, null, null, null, { "name": "additionalMessage", "qid": "24", "text": "Additional Message:", "type": "control_textarea" }, null, null, { "name": "clickTo", "qid": "27", "text": "Online Booking Form", "type": "control_head" }, { "name": "returnDatetime", "qid": "28", "text": "Return Date\u002FTime", "type": "control_datetime" }, { "name": "fullName29", "qid": "29", "text": "Full Name", "type": "control_fullname" }, { "name": "email30", "qid": "30", "subLabel": "example@example.com", "text": "E-mail", "type": "control_email" }, { "name": "phoneNumber31", "qid": "31", "text": "Phone Number", "type": "control_phone" }, { "name": "numberOf32", "qid": "32", "text": "Number of Passengers", "type": "control_spinner" }]);
            }, 20);</script>
</head>
<body>
    <form class="jotform-form" onsubmit="return typeof testSubmitFunction !== 'undefined' && testSubmitFunction();" action="https://submit.jotform.com/submit/233174621379459" method="post" name="form_233174621379459" id="233174621379459" accept-charset="utf-8" autocomplete="on">
        <input type="hidden" name="formID" value="233174621379459" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" /><input type="hidden" id="jsExecutionTracker" name="jsExecutionTracker" value="build-date-1699983870514" /><input type="hidden" id="submitSource" name="submitSource" value="unknown" /><input type="hidden" id="buildDate" name="buildDate" value="1699983870514" />
        <div role="main" class="form-all">
            <ul class="form-section page-section">
                <li id="cid_27" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-large">
                        <div class="header-text httal htvam">
                            <h1 id="header_27" class="form-header" data-component="header">Online Booking Form</h1>
                            <div id="subHeader_27" class="form-subHeader">To reserve seats please complete and submit the booking form.</div>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_fullname" id="id_29">
                    <label class="form-label form-label-top form-label-auto" id="label_29" for="first_29" aria-hidden="false"> Full Name<span class="form-required">*</span> </label>
                    <div id="cid_29" class="form-input-wide jf-required" data-layout="full">
                        <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_29" name="q29_fullName29[first]" class="form-textbox validate[required]" data-defaultvalue="" size="10" data-component="first" aria-labelledby="label_29 sublabel_29_first" required="" value="" /><label class="form-sub-label" for="first_29" id="sublabel_29_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_29" name="q29_fullName29[last]" class="form-textbox validate[required]" data-defaultvalue="" size="15" data-component="last" aria-labelledby="label_29 sublabel_29_last" required="" value="" /><label class="form-sub-label" for="last_29" id="sublabel_29_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_email" id="id_30">
                    <label class="form-label form-label-top form-label-auto" id="label_30" for="input_30" aria-hidden="false"> you may book your seat plz add this company email<br /> abbasikumail747@gmail.com<span class="form-required">*</span> </label>
                    <div id="cid_30" class="form-input-wide jf-required" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_30" name="q30_email30" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:310px" size="310" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_30 sublabel_input_30" required="" value="" /><label class="form-sub-label" for="input_30" id="sublabel_input_30" style="min-height:13px" aria-hidden="false">example@example.com</label></span> </div>
                </li>
                <li class="form-line jf-required" data-type="control_phone" id="id_31">
                    <label class="form-label form-label-top form-label-auto" id="label_31" for="input_31_full"> Phone Number<span class="form-required">*</span> </label>
                    <div id="cid_31" class="form-input-wide jf-required" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_31_full" name="q31_phoneNumber31[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue="" style="width:310px" data-masked="true" placeholder="(000) 000-0000" data-component="phone" aria-labelledby="label_31" required="" value="" /></span> </div>
                </li>
                <li class="form-line jf-required allowTime" data-type="control_datetime" id="id_15">
                    <label class="form-label form-label-top form-label-auto" id="label_15" for="lite_mode_15" aria-hidden="false"> Departure Date/Time<span class="form-required">*</span> </label>
                    <div id="cid_15" class="form-input-wide jf-required" data-layout="full">
                        <div data-wrapper-react="true" class="extended">
                            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="currentDate form-textbox validate[required, limitDate]" id="day_15" name="q15_departureDatetime15[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="14" required="" autoComplete="off" aria-labelledby="label_15 sublabel_15_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_15" id="sublabel_15_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[required, limitDate]" id="month_15" name="q15_departureDatetime15[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="11" required="" autoComplete="off" aria-labelledby="label_15 sublabel_15_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_15" id="sublabel_15_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[required, limitDate]" id="year_15" name="q15_departureDatetime15[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="2023" required="" autoComplete="off" aria-labelledby="label_15 sublabel_15_year" /><label class="form-sub-label" for="year_15" id="sublabel_15_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[required, limitDate, validateLiteDate]" id="lite_mode_15" size="12" data-maxlength="12" maxLength="12" data-age="" value="14-11-2023" required="" data-format="ddmmyyyy" data-seperator="-" placeholder="DD-MM-YYYY" data-placeholder="DD-MM-YYYY" autoComplete="off" aria-labelledby="label_15 sublabel_15_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_15_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="Yes" data-version="v2" /><label class="form-sub-label" for="lite_mode_15" id="sublabel_15_litemode" style="min-height:13px" aria-hidden="false">Date</label></span><span class="allowTime-container timeAMPM">
                                <div data-wrapper-react="true">
                                    <span class="form-sub-label-container hasAMPM" style="vertical-align:top"><input type="text" class="currentTime time-dropdown form-textbox validate[required, time]" id="input_15_timeInput" name="q15_departureDatetime15[timeInput]" required="" placeholder="HH : MM" aria-labelledby="label_15 sublabel_15_hour" data-mask="hh:MM" value="12:40" data-version="v2" /><input type="hidden" class="form-hidden-time" id="input_15_hourSelect" name="q15_departureDatetime15[hour]" value="12" /><input type="hidden" class="form-hidden-time" id="input_15_minuteSelect" name="q15_departureDatetime15[min]" value="40" /><label data-seperate-translate="true" class="form-sub-label" for="input_15_timeInput" id="sublabel_15_hour" style="min-height:13px" aria-hidden="false">Hour Minutes</label></span><span class="form-sub-label-container" style="vertical-align:top">
                                        <select class="time-dropdown form-dropdown validate[required]" id="input_15_ampm" name="q15_departureDatetime15[ampm]" data-component="time-ampm" required="" aria-labelledby="label_15 sublabel_15_ampm">
                                            <option value="AM">AM</option>
                                            <option selected="" value="PM">PM</option>
                                        </select><label class="form-sub-label" for="input_15_ampm" id="sublabel_15_ampm" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" aria-hidden="false">AM/PM Option</label>
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required allowTime" data-type="control_datetime" id="id_28">
                    <label class="form-label form-label-top form-label-auto" id="label_28" for="lite_mode_28" aria-hidden="false"> Return Date/Time<span class="form-required">*</span> </label>
                    <div id="cid_28" class="form-input-wide jf-required" data-layout="full">
                        <div data-wrapper-react="true" class="extended">
                            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="currentDate form-textbox validate[required, limitDate]" id="day_28" name="q28_returnDatetime[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="14" required="" autoComplete="off" aria-labelledby="label_28 sublabel_28_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_28" id="sublabel_28_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[required, limitDate]" id="month_28" name="q28_returnDatetime[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="11" required="" autoComplete="off" aria-labelledby="label_28 sublabel_28_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_28" id="sublabel_28_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[required, limitDate]" id="year_28" name="q28_returnDatetime[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="2023" required="" autoComplete="off" aria-labelledby="label_28 sublabel_28_year" /><label class="form-sub-label" for="year_28" id="sublabel_28_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[required, limitDate, validateLiteDate]" id="lite_mode_28" size="12" data-maxlength="12" maxLength="12" data-age="" value="14-11-2023" required="" data-format="ddmmyyyy" data-seperator="-" placeholder="DD-MM-YYYY" data-placeholder="DD-MM-YYYY" autoComplete="off" aria-labelledby="label_28 sublabel_28_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_28_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="Yes" data-version="v2" /><label class="form-sub-label" for="lite_mode_28" id="sublabel_28_litemode" style="min-height:13px" aria-hidden="false">Date</label></span><span class="allowTime-container timeAMPM">
                                <div data-wrapper-react="true">
                                    <span class="form-sub-label-container hasAMPM" style="vertical-align:top"><input type="text" class="currentTime time-dropdown form-textbox validate[required, time]" id="input_28_timeInput" name="q28_returnDatetime[timeInput]" required="" placeholder="HH : MM" aria-labelledby="label_28 sublabel_28_hour" data-mask="hh:MM" value="12:40" data-version="v2" /><input type="hidden" class="form-hidden-time" id="input_28_hourSelect" name="q28_returnDatetime[hour]" value="12" /><input type="hidden" class="form-hidden-time" id="input_28_minuteSelect" name="q28_returnDatetime[min]" value="40" /><label data-seperate-translate="true" class="form-sub-label" for="input_28_timeInput" id="sublabel_28_hour" style="min-height:13px" aria-hidden="false">Hour Minutes</label></span><span class="form-sub-label-container" style="vertical-align:top">
                                        <select class="time-dropdown form-dropdown validate[required]" id="input_28_ampm" name="q28_returnDatetime[ampm]" data-component="time-ampm" required="" aria-labelledby="label_28 sublabel_28_ampm">
                                            <option value="AM">AM</option>
                                            <option selected="" value="PM">PM</option>
                                        </select><label class="form-sub-label" for="input_28_ampm" id="sublabel_28_ampm" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" aria-hidden="false">AM/PM Option</label>
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_textarea" id="id_11">
                    <label class="form-label form-label-top form-label-auto" id="label_11" for="input_11" aria-hidden="false"> Pickup Address<span class="form-required">*</span> </label>
                    <div id="cid_11" class="form-input-wide jf-required" data-layout="full"> <textarea id="input_11" class="form-textarea validate[required]" name="q11_pickupAddress11" style="width:648px;height:163px" data-component="textarea" required="" aria-labelledby="label_11"></textarea> </div>
                </li>
                <li class="form-line jf-required" data-type="control_textarea" id="id_12">
                    <label class="form-label form-label-top form-label-auto" id="label_12" for="input_12" aria-hidden="false"> Destination Address<span class="form-required">*</span> </label>
                    <div id="cid_12" class="form-input-wide jf-required" data-layout="full"> <textarea id="input_12" class="form-textarea validate[required]" name="q12_destinationAddress12" style="width:648px;height:163px" data-component="textarea" required="" aria-labelledby="label_12"></textarea> </div>
                </li>
                <li class="form-line jf-required" data-type="control_dropdown" id="id_19">
                    <label class="form-label form-label-top form-label-auto" id="label_19" for="input_19" aria-hidden="false"> Journey Type<span class="form-required">*</span> </label>
                    <div id="cid_19" class="form-input-wide jf-required" data-layout="half">
                        <select class="form-dropdown validate[required]" id="input_19" name="q19_journeyType19" style="width:310px" data-component="dropdown" required="" aria-label="Journey Type">
                            <option value="">Please Select</option>
                            <option value="One-way">One-way</option>
                            <option value="Return">Return</option>
                        </select>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_spinner" id="id_32">
                    <label class="form-label form-label-top form-label-auto" id="label_32" for="input_32" aria-hidden="false"> Number of Passengers<span class="form-required">*</span> </label>
                    <div id="cid_32" class="form-input-wide jf-required" data-layout="half">
                        <div data-wrapper-react="true"><input type="number" id="input_32" name="q32_numberOf32" data-type="input-spinner" class="form-spinner-input  form-textbox validate[required]" data-spinnermin="0" data-defaultvalue="0" data-component="spinner" aria-labelledby="label_32" required="" value="0" /></div>
                    </div>
                </li>
                <li class="form-line" data-type="control_textarea" id="id_24">
                    <label class="form-label form-label-top form-label-auto" id="label_24" for="input_24" aria-hidden="false"> Additional Message: </label>
                    <div id="cid_24" class="form-input-wide" data-layout="full"> <textarea id="input_24" class="form-textarea" name="q24_additionalMessage" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_24"></textarea> </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_1">
                    <div id="cid_1" class="form-input-wide" data-layout="full">
                        <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_1" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button></div>
                    </div>
                </li>
                <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
            </ul>
        </div>
        <script>JotForm.showJotFormPowered = "new_footer";</script>
        <script>JotForm.poweredByText = "Powered by Jotform";</script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="233174621379459" />
        <script type="text/javascript">var all_spc = document.querySelectorAll("form[id='233174621379459'] .si" + "mple" + "_spc");
                for (var i = 0; i < all_spc.length; i++) {
                    all_spc[i].value = "233174621379459-233174621379459";
                }</script>
    </form>
</body>



<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.47581"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.47581"></script>
<script type="text/javascript">JotForm.isNewSACL = true;</script>
