
@{
    ViewBag.Title = "video";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="hero hero-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto text-center">
                <div class="intro-wrap">
                    <h1 class="mb-0">Our Gallery</h1>
                    <p class="text-white">This is our wonderfull gallery .Step into Our Travel Company's Gallery: A Visual Odyssey of Unparalleled Experiences. Explore the world through our curated collection of unforgettable moments, encapsulating the essence of travel with our exceptional services.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-block" data-aos="fade-up">
    <h2 class="section-title">Gallery</h2>
    <div class="row gutter-v2 gallery">
        <div class="col-4">

            <h2>Rgano Stor</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3207743042353518922_2157278233.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>village mountain</p>
        </div>
        <div class="col-4">

            <h2>Shigar valley</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/10000000_3617824868436914_7955293399781627205_n.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>land of mountain</p>
        </div>
        <div class="col-4">
            <h2>Deosaii</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/10000000_621087726682026_3444721001429594651_n.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>heaven on earth</p>
        </div>
        <div class="col-4">
            <h2>sarfaranga shaigar</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/378491971_1527789677957653_2708965783637252552_n.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>cold desert</p>
        </div>
        <div class="col-4">
            <h2>our guest</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/51225607_999956797909402_5496852745005830384_n.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>enjoying</p>
        </div>
        <div class="col-4">
            <h2>fairy medows</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/9041CA4A9F94FBE603E71341D5BBAD94_video_dashinit.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>fairy medows</p>
        </div>
        <div class="col-4">
            <h2>hunza valley</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/904431A251D024050A16C106252A739D_video_dashinit.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>our respectable guest</p>
        </div>
        <div class="col-4">
            <h2>jarbaxoo</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3168547676467056322.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>blind lake shigar</p>
        </div>
        <div class="col-4">
            <h2>sarfaranga jeep rally</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3206970534813316885.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>team sultan</p>
        </div>
        <div class="col-4">
            <h2>GB dance</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/10000000_1295699141091602_2818441174753433972_n.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>our respectable guest</p>
        </div>
        <div class="col-4">
            <h2>karakoram road</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3210407684489720720.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>beautifull</p>
        </div>
        <div class="col-4">
            <h2>culture in GB</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3214044377717314438.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>heaven on earth</p>
        </div>
        <div class="col-4">
            <h2>Skardu</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3222888846902737240.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>real beauty</p>
        </div>
        <div class="col-4">
            <h2>khaplu </h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3216077489834136609.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p></p>
        </div>
        <div class="col-4">
            <h2>face of north</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3229424377799201257_2157278233.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>simple but beautifull</p>
        </div>
        <div class="col-4">
            <h2>autumn season</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3232922737998724121_26947707042.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>its amazing skardu</p>
        </div>
        <div class="col-4">
            <h2>winter season</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3235051854202576825.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>its amazing GB</p>
        </div>
        <div class="col-4">
            <h2>Rakaposhi</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3233709298999093966 (1).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>its natural beauty</p>
        </div>
        <div class="col-4">
            <h2>snowfalling season</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3243742135999523714_2157278233.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>its natural beauty</p>
        </div>
        <div class="col-4">
            <h2>Prince</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3237985708655400190_26947707042.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>GB</p>
        </div>
        <div class="col-4">
            <h2>deosai</h2>
            <video controls width="30" height="100" style="width: 70%; height: 70%; display: block; margin-bottom: 20px;">
                <source src="~/video/SaveInsta.App - 3242460237268847845.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>heaven on earth</p>
        </div>

    </div>
</div> <!-- END .custom-block -->
